body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
  main {
    width: 100%;
  }
  }
  .container {
    background-color: rgb(217, 228, 214);
    margin: 0;
    border: 0;
    padding: 0;
  }

  .section{
    height: 350px;
    width: 350px;
    margin: 12px;
    border: 5px;
    padding: 15px;
  }

  .position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
  .logo_pos{
    display: flex;
    justify-content: space-between;
    background-color: rgb(217, 228, 214);

  }
  a:hover {
    color: red;
  }
  html {
    scroll-behavior: smooth; 
  }