body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
  main {
    width: 100%;
  }
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .section{
    height: 350px;
    width: 350px;
    margin: 12px;
    border: 5px;
    padding: 15px;
  }

  .position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
  .logo_pos{
    display: flex;
    justify-content: space-between;

  }
  a:hover {
    color: red;
  }
/*   .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
/*     .main-container {
    display: flex;
    flex-wrap: wrap;
  }
   */
/*   .section {
    width: 50%;
  } */
/*   @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  } */
  html {
    scroll-behavior: smooth; 
  }