body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
  main {
    width: 100%;
  }
  }
  #center1{
    text-align: center;
  }
  #center2{
    text-align: center;
  }
 
  .container {
    background-color: rgb(217, 228, 214);
    margin: 0;
    border: 0;
    padding: 0;
  }

  .section-profile{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    border-bottom: 10px solid rgb(184, 183, 183);
  }

  .section{
    height: 400px;
    width: 30%;
    margin: 3px;
    padding: 3px;
    border-bottom: 2px solid black;
    font-size: 15pt;
  }

  .position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
  .logo_pos{
    display: flex;
    justify-content: space-between;
    background-color: rgb(217, 228, 214);

  }
  a:hover {
    color: red;
  }
  html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center; 
  }